@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@font-face {
    font-family: "ESRebondGrotesque";
    src: url(../fonts/ESRebondGrotesque-Bold.woff2)format('woff2'),
        url(../fonts/ESRebondGrotesque-BoldItalic.woff2)format('woff2'),
        url(../fonts/ESRebondGrotesque-Italic.woff2)format('woff2'),
        url(../fonts/ESRebondGrotesque-Light.woff2)format('woff2'),
        url(../fonts/ESRebondGrotesque-LightItalic.woff2)format('woff2'),
        url(../fonts/ESRebondGrotesque-Medium.woff2)format('woff2'),
        url(../fonts/ESRebondGrotesque-MediumItalic.woff2)format('woff2'),
        url(../fonts/ESRebondGrotesque-MediumItalic.woff2)format('woff2'),
        url(../fonts/ESRebondGrotesque-Regular.woff2)format('woff2');
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

header {
    background-image: url(../assets/Proposal_SomosFin.jpg);
    height: 100vh;
    background-size: cover;
    z-index: 2;
}

.headerIntro {
    background-color: #F0E6D8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0px 37px;
}

.headerIntro img {
    width: 150px;
    height: 30px;
    margin-left: 50px;
}

.openingSF {
    position: relative;

}

.opening::after {
    content: "";
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) -1%, rgba(0, 0, 0, 0.1) 100%);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 0 !important;

}

.openingSF img {
    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'ESRebondGrotesque', arial light;
    font-style: normal;
    font-size: 120px;
    font-weight: 100;
    line-height: 95%;
    color: white;
    width: 900px;
    z-index: 1;
}

h2 {
    color: #0b1111;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    padding: 0px;
}

h3 {
    color: beige;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    width: 800px;
    text-align: center;
    font-weight: 400;
}

h5 {
    font-family: 'Inter', sans-serif;
    font-size: 15px;

}

.opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    position: relative;
    padding: 0px 50px;
}

.introduccion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
   
}

.introduccion h3 {
    font-size: 20px;
    padding: 0px 10px 10px;
    margin-right: 180px;
    align-self: center;
    text-align: left;
    width: 800px;
    z-index: 1;

}

.introduccion svg {
    padding: 30px 0px;
    width: 250px;
    height: 250px;
    z-index: 1;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 40%;
}

.botonWpp {
    color: #FFFFFF;
    background: #7656E2;
    text-align: center;
    width: 200px;
    border-radius: 50px;
    align-self: center;
    padding: 10px;
    text-decoration: none;
}

.botonWpp:hover {
    background: #AD9AEE;
    color: #FFFFFF;
    text-align: center;
}

.botonHeader {
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
    z-index: 1;

}

.botonIndex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    z-index: 1;
}

.botonExperiencia {
    z-index: 1;
}

.botonExperiencia a {
    color: #FFFFFF;
    background: #7656E2;
    text-align: center;
    width: 250px;
    border-radius: 50px;
    align-self: center;
    padding: 20px 20px;
    text-decoration: none;


}

.botonExperiencia a:hover {
    background: #AD9AEE;
    color: #FFFFFF;
    text-align: center;
}

.botonReserva {

    color: #FFFFFF;
    background: #7656E2;
    text-align: center;
    width: 200px;
    border-radius: 50px;
    align-self: center;
    padding: 15px 20px;
    text-decoration: none;
    text-decoration: none;
    transform: translateX(-360px);
    position: relative;
    top: 200px;
}

.botonReserva:hover {
    background: #AD9AEE;
    color: #FFFFFF;
    text-align: center;
}

.botonPlanes {
    color: #fff;
    background: #171C21;
    text-align: center;
    width: 250px;
    border-radius: 50px;
    align-self: center;
    padding: 20px 20px;
    text-decoration: none;


}

.botonPlanes:hover {
    background: #777776;
    color: #fff;
    text-align: center;
}


.experiencia {
    background: #F0E6D8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 30px;
    gap: 20px;
    height: 885px;

}


.experiencia-imagen {
    background-image: url(../assets/Proposal_SomosFin-experience-2.0.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 54px 0px 0px;
    gap: 70px;
    position: relative;
    border-radius: 20px;

    width: 611px;
    height: 725px;

}

.experiencia-imagen:after {
    content: "";
    position: absolute;
    background: linear-gradient(0deg, #0b1111 -40%, rgba(0, 0, 0, 0.1) 100%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0 !important;
    border-radius: 20px;
}

.experiencia-imagen h3 {
    color: #FFFFFF;
    width: 611px;
    height: 151px;

    font-family: 'ESRebondGrotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    text-align: center;
    line-height: 81px;
    z-index: 1;
}

.experiencia-usuario {
    background-color: #FFF9EC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 0px 40px;

    border-radius: 20px;
    width: 720.5px;
    height: 724px;
}

.experiencia-usuario h2 {
    padding-top: 40px;
    padding-bottom: 30px;
    font-family: 'ESRebondGrotesque', 'light';
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.4px;
}

.iconos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex: 0.9;
    gap: 0px 50px;
    padding: 15px;
    font-family: 'Inter', sans-serif;

}


.iconitos {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.iconitos h4 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    padding: 10px 0px 0px;

}



.iconitos p {
    font-family: 'Inter', sans-serif;
    font-size: 15px;

}

.suscripcion {
    background: #F0E6D8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 80px;

}

.suscripcion-titulos {
    background: #F1EEFC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 30px;
    gap: 20px;

    border-radius: 20px;
}

.suscripcion-titulos h3 {
    width: 893px;
    height: 28px;

    color: black;
    font-family: 'ESRebondGrotesque';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.suscripcion-titulos span {
    width: 509px;
    height: 26px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 105.5%;
    /* or 26px */
}

.suscripcion-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 60px;
    margin-top: 25px;
    width: 1024px;
    height: 342px;
}


.suscripcion-box1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    justify-content: space-between;

    width: 923px;
    height: 74px;
}

.suscripcion-box p {
    display: flex;
    flex-direction: row;

    margin-left: 10px;
    gap: 17px;

    width: 549px;
    height: 74px;
    font-family: 'Inter';
    font-style: normal;
    text-align: left;

    font-size: 23px;
    line-height: 110.5%;
}


.suscripcion-texto {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding: 0px 50px;

}

.suscripcion-texto p {
    margin-left: 0;
    justify-content: center;
    text-align: left;
    width: 310px;
    height: 75px;
}


.HistoriasDeUsuario {
    background-color: #f4e7d8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HistoriasDeUsuario h2 {
    width: 778px;
    height: 28px;
    text-align: center;
    margin: 80px;
    font-family: 'ESRebondGrotesque';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;

}

.historia-usuario {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 1339px;
    height: 559px;
}

.historia-usuario-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 27px 42px;
    gap: 18.4px;

    width: 433px;
    height: 559px;

    background: #FFFFFF;
    border-radius: 20px;

}

.historia-usuario-1 .historia-imagen1 {
    background-image: url(../assets/US-1.jpg);
    background-size: cover;
    background-position-y: center;
    border-radius: 50%;

    width: 114px;
    height: 114px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.historia-usuario-1 .historia-imagen2 {
    background-image: url(../assets/US-2.jpg);
    background-size: cover;
    background-position-y: center;
    border-radius: 50%;

    width: 114px;
    height: 114px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.historia-usuario-1 .historia-imagen3 {
    background-image: url(../assets/US-3.jpg);
    background-size: cover;
    background-position-y: center;
    border-radius: 50%;

    width: 114px;
    height: 114px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.historia-usuario-1 p {

    width: 339px;
    height: 260px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
}

.historia-usuario-1 h6 {
    width: 339px;
    height: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    margin-bottom: -25px;
}

.Reservas {
    background-color: #F3E0C7;
    display: flex;
    justify-content: center;
    padding: 50px;
    width: auto;
    height: 632px;

}

.reserva {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 60px;
    gap: 68px;

    width: 1241px;
    height: 532px;

    background: #CCA570;
    border-radius: 20px;

}

.reservas-coach {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 50px;

    width: 644px;
    height: 300px;

}

.reservas-coach a {
    color: #fff;
    background: #7656E2;
    text-align: center;
    width: 250px;
    border-radius: 100px;
    align-self: center;
    padding: 20px 20px;
    text-decoration: none;
    font-weight: bold;

}

.reservas-coach h2 {
    width: 517px;
    height: 110px;
    font-family: 'ESRebondGrotesque', bold;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 110%;
    text-align: center;

    color: #1D1B19;
}

.reservas-coach p {

    width: 527px;
    height: 44px;
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
}

.reservas-img {
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: center;
}

.reservas-img img {

    border-radius: 30px;
    width: 518px;
    height: 405px;
    transform: translateX(-200px);

}

.Planes {
    padding: 50px;
    background-color: #F3E0C7;

}

.Planes h2 {
    text-align: center;
    font-family: 'ESRebondGrotesque';
    font-weight: bolder;

}

.planes {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;

}

.planes-1 {

    margin: 30px;
    height: 450px;
    width: 320px;
    justify-content: space-around;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    border-radius: 20px;
}

.planes-1.plan-full {
    width: 403px;
    height: 602px;
    background: #D6CCF6;
    border-radius: 20px;
}

.linea-plan-full {
    /* Line 1 */
    width: 299px;
    height: 0px;
    left: 0px;
    top: 163px;
    border: 0.2px solid rgba(0, 0, 0, 0.5);

}

.planes-1.plan-full p {

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: start;
    color: #171C21;
}

.planes-1.plan-full span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
}

.planes-1.plan-compact {
    width: 403px;
    height: 602px;

    background: #BBABF1;

    border-radius: 20px;

}

.planes-1.plan-compact p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: start;
    color: #171C21;
}

.planes-1.plan-compact span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
}

.linea-plan-compact {
    width: 299px;
    height: 0px;
    left: 808px;

    border: 0.2px solid rgba(0, 0, 0, 0.5);
}

.texto-plan-compact , .texto-plan-full{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 300.94px;
    height: 256px;
    transform: translateY(60px);
}



.planes-1.plan-freemium {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 383px;
    height: 602px;

    background: #9F89EB;
    border-radius: 20px;
}

.full-titulos,
.compact-titulos,
.freemium-titulos {
    margin-bottom: -85px;
}


.linea-plan-freemium {
    width: 299px;
    height: 0px;
    left: 1283px;

    border: 0.2px solid rgba(0, 0, 0, 0.5);
}


.planes-1.plan-freemium span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
}

.planes-1.plan-freemium p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: start;
    color: #171C21;
}


footer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 70px;
}

.footerSF {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
    font-family: 'Inter', sans-serif;

    width: 422px;
    height: 122px;

}

.footer1 h5 {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
}

.footer2 h5 {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
}

.footer-links {
    color: #0b1111;
    text-decoration: none;
}

.footer-links:hover {
    color: #7656E2;
}

.footerSF p {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
}

.footerLogo img {
    width: 110px;
    height: 20px;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 70px;
}

.footerRedes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;
    font-family: 'Inter', sans-serif;
}

.footerRedes a {
    color: #0b1111;
    text-decoration: none;
    font-size: 12px;
    width: 81px;
    height: 29px;

}


/* Mobile devices */
@media only screen and (max-width: 467px) {
    header {
        height: 72vh;
        background-size: cover;
        background-position: center;
    }

    .headerIntro {
        width: auto;
        display: flex;
        height: 120px;
        padding: 33px 5px 0px 15px;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    .botonHeader {
        display: flex;
        height: 46px;
        width: 190px;
    }


    .headerIntro img {
        margin: 0;
        align-self: center;
    }


    h1 {
        font-size: 60px;
        width: 100%;
    }

    h2 {
        font-size: 30px;
        text-align: center;
    }

    h3 {
        font-size: 12px;
        width: 100%;
    }



    .opening {
        padding: 0px 20px;
    }

    .opening::after {
        display: flex;
        width: 467px;
        height: 110%;
        padding: 40px 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 133px;
    }

    .introduccion {
        flex-direction: column;
        padding: 0px;
    }

    .introduccion h3 {
        font-size: 16px;
        margin-right: 0;
        align-self: flex-start;
        width: 330px;
    }

    .introduccion svg {
        width: 150px;
        height: 150px;
    }

    section {
        width: 100%;
    }

    .experiencia {
        flex-direction: column;
        padding: 40px 20px;
        height: auto;
    }

    .experiencia-imagen {
        display: flex;
        width: auto;
        height: 364px;
        padding: 40px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 42px;
        align-self: center;
    }

    .experiencia-imagen h3 {
        font-size: 40px;
        line-height: 50px;
        width: auto;
    }

    .experiencia-usuario {
        padding: 0px 10px;
        width: 100%;
        height: auto;
    }

    .iconos {
        flex-wrap: wrap;
        gap: 10px;
    }

    .iconitos {
        width: 100%;
        margin-bottom: 20px;
    }

    .iconitos h4 {
        font-size: 16px;
    }

    .suscripcion {
        display: flex;
        width: auto;
        padding: 30px 18px;
        justify-content: center;

    }

    .suscripcion-titulos {
        padding: 0px;
    }

    .suscripcion-titulos h3 {
        font-size: 30px;
        width: auto;
    }

    .suscripcion-titulos span {
        font-size: 20px;

        width: auto;
        padding-top: 45px;
        padding-bottom: 20px;
        text-align: center;
    }

    .suscripcion-box {
        width: 358px;
        height: auto;
        display: flex;
        padding: 40px 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .suscripcion-box1 {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        height: auto;
    }

    .suscripcion-box p {
        margin-left: 0;
        justify-content: center;
        text-align: left;
        width: 100%;
        height: auto;
    }

    .HistoriasDeUsuario h2 {
        width: 100%;
        margin: 40px;
        font-size: 30px;
    }

    .historia-usuario {
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 20px;
        width: 100%;
        height: auto;
    }

    .historia-usuario-1 {
        width: 328px;
        height: 432px;
        margin: 27px 15px;
    }

    .historia-imagen1,
    .historia-imagen2,
    .historia-imagen3 {
        width: 114px;
        height: 114px;
    }

    .historia-usuario-1 h6 {
        width: 280px;
        height: auto;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        margin-bottom: -5px;
    }

    .historia-usuario-1 p {
        width: 274px;
        height: 135px;
        font-size: 16px;
        font-family: Inter;
        line-height: 120%;
    }

    .Reservas {
        padding: 20px;
        height: auto;
    }

    .reserva {
        flex-direction: column;
        padding: 30px;
        gap: 30px;
        width: auto;
        height: auto;
    }

    .reservas-coach {
        padding: 0px;
        gap: 30px;
        width: auto;
        height: auto;
    }

    .reservas-coach h2 {
        width: auto;
        height: auto;
        font-size: 30px;
    }

    .reservas-coach p {
        width: auto;
        height: auto;
        margin-bottom: 30px;
        font-size: 16px;
    }

    .reservas-coach a {
        width: 200px;
        padding: 15px;
        font-size: 16px;
    }

    .reservas-img {
        display: flex;
        align-items: center;
        padding: 30px;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
    }

    .reservas-img img {
        transform: translateY(-130px);
    }

    .Planes {
        padding: 20px;
    }

    .Planes h2 {
        font-size: 30px;
    }

    .planes {
        flex-direction: column;
        padding: 20px 0px;
    }

    .planes-1 {
        margin: 20px 0px;
        height: auto;
        width: auto;
        display: flex;
        padding: 40px 20px;
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }

    .planes-1.plan-compact,
    .planes-1.plan-full,
    .planes-1.plan-freemium {
        width: auto;
        height: auto;
    }

    .linea-plan-full,
    .linea-plan-compact {
        width: 100%;
    }

    .texto-plan-compact,
    .texto-plan-full {
        width: 100%;
        height: auto;
    }


    .full-titulos,
    .compact-titulos,
    .freemium-titulos {
        margin-bottom: 0;
    }

    .linea-plan-freemium {
        width: 100%;
    }

    footer {
        width: 322px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 79px;
        padding: 70px 70px 0px;
    }

    .footerSF {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: auto;
        height: auto;
    }

    .footer1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .footerSF h5 {
        text-align: center;
    }

    .footer-bottom {
        display: flex;
        width: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 5px 55px;

    }

    .footer-bottom p {
        position: relative;
        bottom: -310px;
    }

    .footerLogo img {
        width: 90px;
        height: 16px;
    }

    .footerRedes {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}


/* Tablet Styles */

@media only screen and (min-width: 468px) and (max-width: 1223px) {
    header {
        height: 100vh;
        width: 150vw;
        background-size: 1300px;
    }

    .headerIntro {
        display: flex;
        justify-content: space-between;
        padding: 50px 110px 40px;
        align-items: center;
    }

    .openingSF {
        position: relative;
        height: 82vh;
        width: auto;
    }

    .opening::after {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) -1%, rgba(0, 0, 0, 0.1) 100%);
        height: 82vh;
    }

    h1 {
        font-size: 86px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 12px;
        width: 600px;
    }

    .introduccion {
        display: flex;
        width: 1auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        gap: 40px;
    }

    .introduccion h3 {
        font-size: 16px;
        margin-right: 100px;
        width: 600px;
    }

    .introduccion svg {
        width: 200px;
        height: 200px;
    }

    section {
        width: 50%;
    }

    .botonHeader {
        display: flex;
        height: 46px;
        width: 190px;
    }

    .botonIndex {
        display: flex;
        height: 46px;
        margin-left: -89px;
    }

    .botonWpp {
        width: 180px;
        padding: 10px;
    }

    .botonExperiencia a {
        width: 200px;
        padding: 10px;
    }

    .botonReserva {

        color: #FFFFFF;
        background: #7656E2;
        text-align: center;
        width: 200px;
        border-radius: 50px;
        align-self: center;
        padding: 10px;
        text-decoration: none;
        transform: translateY(230px);

    }

    .botonPlanes {
        display: flex;
        width: 196px;
        height: 46px;
        padding: 33px 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .experiencia {
        padding: 50px 20px;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .experiencia-imagen {
        display: flex;
        width: 918px;
        background-size: cover;
        background-position: center;
        height: 433px;
        padding: 40px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 42px;
    }

    .experiencia-imagen h3 {
        font-size: 100px;
        font-style: normal;
        font-weight: 400;
        line-height: 80.5%;
    }

    .experiencia-usuario {
        display: flex;
        width: 918px;
        height: 705px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .experiencia-usuario h2 {
        font-size: 30px;
        line-height: 36px;
    }

    .iconos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex: 0.9;
        gap: 0px 80px;
        padding: 15px;
        font-family: 'Inter', sans-serif;
        width: 660px;
    }


    .iconitos {
        width: 180px;
    }

    .iconitos h4 {
        font-size: 16px;
    }

    .iconitos p {
        font-size: 12px;
    }

    .suscripcion {
        display: flex;
        padding: 40px 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .suscripcion-titulos {
        background: #F1EEFC;
        display: flex;
        width: 918px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 70px 30px;
        gap: 20px;
        border-radius: 20px;
    }

    .suscripcion-titulos h3 {
        font-size: 30px;
        width: auto;
        height: auto;
    }

    .suscripcion-titulos span {

        font-size: 20px;
        line-height: 26px;
        width: auto;
        height: auto;
        text-align: center;
    }

    .suscripcion-box-1 svg {
        width: 50px;
        height: 50px;
    }

    .suscripcion-box {
        width: 100%;
        height: auto;
    }

    .suscripcion-box1 {

        height: auto;
    }

    .suscripcion-box p {
        width: 300px;
        height: 74px;
        font-size: 20px;
        line-height: 26px;

    }

    .HistoriasDeUsuario h2 {
        width: 600px;
        height: 22px;
        font-size: 30px;
        line-height: 36px;
        margin: 40px;
    }

    .historia-usuario {
        width: auto;
        height: auto;
    }

    .historia-usuario-1 {
        display: flex;
        width: 291px;
        height: 454px;
        padding: 27px 30px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 40px;
    }

    .historia-usuario-1 p {
        font-size: 16px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        width: auto;
    }

    .historia-usuario-1 h6 {
        font-size: 20px;
    }

    .Reservas {
        display: flex;
        height: auto;
        padding: 60px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 68px;
        flex-shrink: 0;
    }

    .reserva {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px;
        gap: 68px;
        width: 943px;
        height: 952px;
        background: #CCA570;
        border-radius: 20px;
    }

    .reservas-coach a {
        color: #fff;
        background: #7656E2;
        text-align: center;
        width: 250px;
        border-radius: 100px;
        align-self: center;
        padding: 20px 20px;
        text-decoration: none;
        font-weight: bold;
        margin-top: 0px;
    }

    .reservas-coach h2 {
        width: 100%;
        font-size: 40px;
        line-height: 100%;
    }

    .reservas-coach p {
        width: 100%;
        line-height: 120%;
    }

    .reservas-img img {
        transform: translateY(-160px);
    }


    .planes {
        flex-wrap: wrap;
    }

    .planes-1.plan-full,
    .planes-1.plan-freemium,
    .planes-1.plan-compact {
        margin: 30px;
        display: flex;
        width: 280px;
        height: 421px;
        padding: 30px 20px;
        align-items: center;
        gap: 30px;
    }

    .linea-plan-compact,
    .linea-plan-full,
    .linea-plan-freemium {
        width: auto;
        height: 0px;
        align-self: stretch;
    }

    .planes-1.plan-full p,
    .planes-1.plan-compact p,
    .planes-1.plan-freemium p {
        color: rgba(34, 34, 34, 0.80);
        font-size: 12px;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        line-height: 124%;
    }

    .texto-plan-compact,
    .texto-plan-full {
        display: flex;
        width: 177px;
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;
    }


    .footer {
        padding: 30px;
    }

    .footerSF {

        height: auto;
    }

    .footerLogo {
        width: 90px;
        height: 16px;
    }
}